body {
    background-color: #e9e9f9;
}

.App {
    background-color: #66d9ff;
    text-align: center;
    padding: 10px;
    min-width: 600px;
    border-radius: 5px;
}

.overlay__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkgrey;
    min-height: 200px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px silver;
    overflow: hidden;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
}

